<div class="header">
	<h2 class="header-title">Ben Kinney Message Board</h2>
	<span class="dev-info">Code challenge by Zakai Robbins</span>
	<% if current_user %>
		<%= link_to 'log out', destroy_user_session_path, method: :delete %>
	<% end %>
</div>
