.container {
	padding: 10px;
}

.header {
	margin-bottom: 20px;
}
.header-title {
	/*margin-bottom: 0px;*/
	display: inline;
}


.post-body {
	margin-left: 10px;
}

.comment {
	border-top: 1px solid black;
	margin-left: 10px;
}

.comment-author {
	font-size: small;
}

.add-comment {
	border-top: 1px solid black;
}
